<!DOCTYPE html>
<html>
<head>
  <title>Lenticular CMS Dashboard</title>
  <%= stylesheet_link_tag    "lenticular_cms/application", media: "all" %>
  <%= javascript_include_tag "lenticular_cms/application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body id="lcms-dashboard">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12" id="lcms-dashboard-header">
        <h1><%= link_to lenticular_cms.dashboard_path do %><span class="glyphicon glyphicon-home"></span> Lenticular CMS<% end %></h1>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2" id="lcms-dashboard-sidebar">
        <%= render 'layouts/lenticular_cms/admin_sidebar' %>
      </div>
      <div class="col-sm-10" id="lcms-dashboard-content">
        <%= yield %>
      </div>
    </div>
    
  </div>
</body>
</html>
