<div class="hcrumbs" id='headercrumbs'>
  <%= render_breadcrumbs(:tag => :div, :separator => " > ") if false %>
</div>
<h1 id="categories-heading">

</h1>


<% @posts.each do |post| %>
<div class="row">
  <div class="col-md-12 post-preview">
    <div class="row">
      <div class="col-sm-7">
        <h5><%= post.categories.pluck(:name).join(', ') %></h5>
        <h2><%= link_to "#{post.title}", post %></h2>
        <%= link_to "#{post.subheading}", post, class: 'post-description' %>
      </div>
      <div class="col-sm-5">
        <%= link_to post do %>
          <%= image_tag(post.image_url(:post_thumb).to_s, class: 'featured-image img-responsive', itemprop: 'image') %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
